__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.env
.grok/
.venv
env/
venv/
ENV/
postgres_data/
redis_data/
*.log
.DS_Store

# Xcode
xcuserdata/
*.xcuserstate
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
